<h1>GymPage</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @user } %>
   
   <div class="workouts-index-page">
      <h2>Recent Workouts Posted: </h2><br>
      <% @recent_workouts.each do |workout| %>
         <fieldset>
            <legend><%= link_to workout_username(workout), user_path(workout.user) %></legend>
            <h5><%= workout_posted_at(workout) %></h5>
            <p>"<%= workout.description %>"</p><br>
            <p><%= link_to "See more", user_workout_path(workout.user, workout) %></p>
         </fieldset>
      <% end %>
   </div>
</div>