<h1>GymPage</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @user } %>
   
   <div class="workouts-index-page">
      <h2>Recent Workouts</h2><br>

      <% @recent_workouts.each do |workout| %>
         <legend><%= link_to workout_username(workout), user_path(workout.user) %></legend>
         <p><%= workout_posted_at(workout) %></p>
         <p>"<%= workout.description %>"</p>
         <p><%= link_to "See more", user_workout_path(workout.user, workout) %></p>
      <% end %>
   </div>
</div>