<h1>Add a New Workout:</h1>

<%= form_for(@workout) do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_select :date, order: [:month, :day, :year] %><br><br>
  </div>
  <div>
    <%= f.label :duration %><br>
    <%= f.text_field :duration, size: "20" %><br><br>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: "70", rows: "3" %><br>
  </div>
  <div>
    <p>Select existing exercise: </p>
    <%= f.collection_check_boxes(:exercise_ids, Exercise.all, :id, :name) do |item| %>
      <% item.label do %>
        <%= item.check_box + item.text %><br>
      <% end %>
    <% end %>
  </div>
  <div>
    <p>Or add new exercise: </p>
    <%= f.fields_for :exercises, @workout.exercises.build do |exercises_fields| %>
      <%= exercises_fields.label :name %>
      <%= exercises_fields.text_field :name %>
      <%= exercises_fields.label :category %>
      <%= exercises_fields.select :category, options_for_select(category_options), prompt: "Select a Category" %>
      <%= exercises_fields.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </div>

  <br><br>

  <div class="submit">
    <%= f.submit "Add Workout" %>
  </div>
<% end %>