<h1>Add a Workout:</h1>

<% if flash[:error] %>
  <p class="flash-error"><%= flash[:error] if flash[:error] %></p>
<% end %>

<div class="workout-form">
  <%= form_for(@workout) do |f| %>
  <div class="select-date">
    <%= f.label :date %>
    <%= f.date_select :date, order: [:month, :day, :year], selected: Date.today %>
  </div>
    <%= f.label :duration, "Duration (Please include hours and/or minutes)" %>
    <%= f.text_field :duration %>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <br><br>
  
      <!-- DOUBLE NESTED FORM -->

      <fieldset>
        <legend>Exercises</legend>
        <%= f.fields_for :routines do |routine_field| %>
          <div class="add-exercise"> 

            <%= routine_field.label :exercise_id, "Select Existing Exercise" %>
            <%= routine_field.collection_select(:exercise_id, Exercise.all.order(name: :asc), :id, :name, include_blank: true) %>
              
              <%= routine_field.fields_for :exercise do |exercise_field| %>
                <%= exercise_field.label :name, "Or Add New Exercise" %>
                <%= exercise_field.text_field :name %>

                <%= routine_field.label :Category, "Category" %>
                <%= exercise_field.select :category, options_for_select(category_options), include_blank: true %>

                <%= routine_field.label :caption, "Exercise Rotine" %>
                <%= routine_field.text_field :caption %>

                <%= exercise_field.hidden_field :user_id, value: current_user.id %>
                <br><br>
              <% end %>
            <% end %>
          </div>
      </fieldset>

    <%= f.submit "Add Workout" %>
  <% end %>
</div>