<h1>Add a new workout:</h1>

<%= form_for(@workout) do |f| %>
  <div>
    <%= f.label "Date Worked Out" %>
    <%= f.date_select :date_workedout, order: [:month, :day, :year] %><br><br>
  </div> 
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: "55", rows: "5" %><br><br>
  </div>
  <div>
    <h2>Select existing exercise: </h2>
      <%= f.collection_check_boxes :exercise_ids, Exercise.all, :id, :name %>
  </div>
  <div>
    <h2>Or add new exercise: </h2>
      <%= f.fields_for :exercises, @workout.exercises.build do |exercises_fields| %>
        <%= exercises_fields.label :name %>
        <%= exercises_fields.text_field :name %>
  
        <%= exercises_fields.label :upper_body? %>
        <%= exercises_fields.check_box :upper_body? %>

        <%= exercises_fields.label :lower_body? %>
        <%= exercises_fields.check_box :lower_body? %>

        <%= exercises_fields.label :cardio? %>
        <%= exercises_fields.check_box :cardio? %>
      <% end %>
  </div>

  <br><br>

  <%= f.submit "Add Workout" %>
<% end %>