<h1>Add a new workout:</h1>

<%= form_for(:workout) do |f| %>
  <div>
    <%= f.label "Date Workedout" %>
    <%= f.date_field :date_workedout %><br>
  </div> 
  
    <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: "55", rows: "5" %><br><br>
  </div>

  <div>
  <h2>Select existing exercise: </h2>
    <%= f.collection_select :exercise_ids, Exercise.all, :id, :name %>
  </div>

  <div>
  <h2>Or add new exercise: </h2>
    <%= f.fields_for :exercise do |exercise_attr| %>
      <%= exercise_attr.label :name %>
      <%= exercise_attr.text_field :name %>

      <%= exercise_attr.label :upper_body? %>
      <%= exercise_attr.check_box :upper_body? %>

      <%= exercise_attr.label :lower_body? %>
      <%= exercise_attr.check_box :lower_body? %>

      <%= exercise_attr.label :cardio? %>
      <%= exercise_attr.check_box :cardio? %>
    <% end %>
  </div>

  <br><br>

  <%= f.submit "Add Workout" %>
<% end %>