<h1><%= username(@workout.user) %>'s workout for</h1>

<% if flash[:message] %>
  <p class="flash-message"><%= flash[:message] if flash[:message] %></p>
<% end %>

<div>
  <h2><%= workout_date(@workout) %></h2>
  "<%= @workout.description %>"<br>
  <strong>Duration: </strong> 
  <%= @workout.duration %><br><br>
</div>

<div class="exercise-routines">
  <% @workout.routines.each do |routine| %>
    <%= link_to routine.exercise.name, exercise_path(routine.exercise_id) %> -
    <%= routine.exercise.category %><br>
    "<%= routine.caption %>"
    <br><br>
  <% end %>
</div>