<h1><%= "#{@workout.user_first_name}" %>'s workout</h1>

<h2>For <%= "#{@workout.formatted_date}" %></h2>

<div>
  <strong>Description:</strong> 
  <%= @workout.description %><br>
</div>

<div>
  <p>Duration:</p> 
  <%= @workout.duration %>
</div>

<div>
  <h3>Exercises:</h3>
  <% @workout.exercises.each do |exercise| %>
    <strong><%= link_to exercise.name, exercise_path(exercise) %></strong><br>
    <%= exercise.category %><br><br>
  <% end %>
</div>