<h1><%= workout_username(@workout) %>'s workout for</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @workout } %>

   <div>
      <h2><%= workout_date(@workout) %></h2>
      <p>"<%= @workout.description %>"</p>
      <p><%= @workout.duration %></p><br>
   </div>

   <div class="exercise-routines">
      <h2>Exercises Completed: </h2><br>
      <% @workout.routines.each do |routine| %>
         <h3><%= link_to routine_exercise_name(routine), exercise_path(routine.exercise_id) %></h3>
         <h5><%= routine_exercise_category(routine) %></h5>
         <p>"<%= routine.caption %>"</p><br>
      <% end %>
   </div>

   <br>

   <% if current_users_workout? %>
      <p><%= link_to "Add Another Routine", new_workout_routine_path(@workout) %></p>
      <p><%= link_to "Edit Workout", edit_workout_path(@workout) %></p>
      <p><%= link_to "Delete Workout", workout_path(@workout), method: :delete, data: { confirm: "Are you sure you want to delete this workout?" } %></p>
   <% end %>
</div>