<h1><%= first_name(@workout.user) %>'s workout for</h1>

<div class="center">
  <h2><%= workout_date(@workout) %></h2>
  <%= @workout.description %><br>
  <strong>Duration: </strong> 
  <%= @workout.duration %><br><br>
</div>

<div>
  <% @workout.exercises.each do |exercise| %>
    <strong><%= link_to exercise.name, exercise_path(exercise) %></strong><br>
    <%= exercise.category %><br><br>
  <% end %>
</div>