<h1><%= "#{@workout.user.first_name}" %>'s workout</h1>

<h2>For <%= "#{@workout.formatted_date}" %></h2>

<div>
  <strong>Description:</strong> 
    <%= @workout.description %>
</div>

<div>
  <h3>Exercises:</h3>
    <% @workout.exercises.each do |exercise| %>
        <strong><%= exercise.name %></strong><br>
        <%= "Upper Body" if exercise.upper_body? %><br>
        <%= "Lower Body" if exercise.lower_body? %><br>
        <%= "Cardio" if exercise.cardio? %><br>
        <br>
    <% end %>
</div>