<h1><%= workout_username(@workout) %>'s workout for</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @workout } %>

   <div>
      <h2><%= workout_date(@workout) %></h2>
      <h6><%= @workout.duration %></h6>
      <p>"<%= @workout.description %>"</p>
   </div>

   <div class="exercise-routines">
      <hr>
      <% @workout.routines.each do |routine| %>
         <h4><%= link_to routine_exercise_name(routine), exercise_path(routine.exercise_id) %></h4>
         <h6><%= routine_exercise_category(routine) %></h6>
         <p>"<%= routine.caption %>"</p>
      <% end %>
      <hr>
   </div>

   <%= current_users_workout_link_options(@workout) %>
   
</div>