<h1>Log In</h1>

<% if flash[:error] %>
  <p class="flash-error"><%= flash[:error] if flash[:error] %></p>
<% end %>

<% if flash[:message] %>
  <p class="flash-message"><%= flash[:message] if flash[:message] %></p>
<% end %>

<div class="login-form">
  <%= form_for(:user) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %><br>

    <%= f.label :password %>
    <%= f.password_field :password, required: true %><br>

    <%= f.submit "Log In" %>
  <% end %>
</div>
