<h1>Log In!</h1>

<div>
  <%= form_for(:user) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true, size: "30" %>

    <%= f.label :password %>
    <%= f.password_field :password, required: true %>

    <%= f.submit "Log In" %>

  <% end %>
</div>