<h1>All Routines Completed</h1>

<div class="exercise-routine">
  <% if @routines.empty? %>
    <h3>No routine has been completed for this exercise:</h3>
    <big><%= @exercise.name %></big>
  <% end %>

  <% @routines.order(created_at: :desc).each do |routine| %>
    <h3><%= link_to routine_exercise(routine), exercise_path(routine.exercise) %></h3>
    <big><%= link_to user_username(routine), user_path(user_routine(routine)) %></big> -
    <%= link_to workout_date(routine.workout), user_workout_path(user_routine(routine), routine.workout) %><br>
    "<%= routine.caption %>"
    <br><br>
  <% end %>
</div>