<h1><%= @user.username %>'s GymPage</h1>

<div class="center">
  <% @user.workouts.order(date: :desc).each do |workout| %>
    <fieldset>
    
      <legend><%= workout_date(workout) %></legend>
      "<%= workout.description %>"<br>
      Duration: <%= workout.duration %><br>
      <%= link_to "See More Details", workout %><br>
      
      <h3>Exercises Completed: </h3>
      <% workout.exercises.each do |exercise| %>
        <strong><%= link_to exercise.name, exercise_path(exercise) %></strong><br>
        <%= exercise.category %><br><br>
      <% end %>

    </fieldset>
  <% end %>
</div>    