<h1><%= @user.username %>'s GymPage</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @user } %>

   <% if @workouts.empty? %>
      <p>You have 0 workouts so far. Add your first workout<%= link_to "here", new_workout_path %></p>
   <% else %>
      <% @workouts.each do |workout| %>
         <legend><%= workout_date(workout) %></legend>
         <p><%= workout.duration %></p>
         <p>"<%= workout.description %>"</p>
         <p><%= link_to "See More Details", user_workout_path(workout.user, workout) %></p>
      <% end %>
   <% end %>
</div>