<h1><%= "#{@user.first_name}" %>'s GymPage</h1>

<div class="center">
  <h2>Workouts</h2>
  <% @user.workouts.order(date: :desc).each do |workout| %>
    <fieldset>
    <legend><%= workout_date(workout) %></legend>
    <%= link_to "View More", workout %><br>
    <%= workout.duration %><br>
    <%= workout.description %><br>
    
    <h3>Exercises Performed: </h3>
    <div class="left">
      <%= workout.exercises.each do |exercise| %>
        <strong><%= exercise.name %></strong> - 
        <%= exercise.category %><br>
      <% end %>
    </div>

    </fieldset>
  <% end %>
</div>    