<h1>Add New Exercise</h1>

<div class="exercise-form">
  <%= form_for @exercise do |f| %>
    <%= f.label :name, "Exercise Name" %>
    <%= f.text_field :name, required: true %>

    <%= f.label :category, "Category" %>
    <%= f.select :category, options_for_select(category_options), include_blank: true %><br>

    <%= f.submit "Add Exercise" %>
  <% end %>
</div>