<h1>Exercise Details</h1>

<fieldset>
<legend><%= @exercise.name %></legend>
   <strong><%= @exercise.category %></strong><br>
   <legend><%= @exercise.workouts.size %> user(s) completed this exercise!</legend><br>
   <%= link_to "View routines", exercise_routines_path(@exercise) %>
   <br><br>
</fieldset>

<br>

<%= link_to 'Back', :back %>