<!DOCTYPE html>
<html>

   <head>
      <title>GymPage</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   </head>

   <nav>
      <ul>
         <% if logged_in? %>
            <%= link_to_in_li("GymPage", workouts_path) %>
            <%= link_to_in_li("#{current_user.username}'s Workouts", current_user) %>
            <%= link_to_in_li("Add New Workout", new_workout_path) %>
            <%= link_to_in_li("All Exercises", exercises_path) %>
            <%= link_to_in_li("All Routines", routines_path) %>
            <li><%= link_to("Log Out", logout_path, method: :delete) %></li>
         <% else %>
            <%= link_to_in_li("GymPage", root_path) %>
            <%= link_to_in_li("Log In", login_path) %>
            <%= link_to_in_li("Sign Up", new_user_path) %>
         <% end %>
      </ul>
   </nav>
   
   <body>
      <div class="wrapper">
         <%= yield %>
      </div>  
   </body>
   

</html>
