<!DOCTYPE html>
<html>
  <head>
    <title>GymPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <ul class="nav_links">
        <% if logged_in? %>
          <li><%= link_to "Home Page", root_path if !current_page?(root_path) %></li>
          <li><%= link_to "My Workouts", current_user if !current_page?(current_user) %></li>
          <li><%= link_to "All Exercises", exercises_path if !current_page?(exercises_path) %></li>
          <li><%= link_to "Add New Workout", new_workout_path if !current_page?(new_workout_path) %></li>
          <li><%= link_to "Add New Exercise", new_exercise_path if !current_page?(new_exercise_path) %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home Page", root_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  
  <div class="wrapper">
    <body>
      <h3 style="color: green;"><%= flash[:notice] if flash[:notice] %></h3>
      <h3 style="color: red;"><%= flash[:error] if flash[:error] %></h3>
      <%= yield %>
      <div class="footer">
        <%= link_to "Back", :back if logged_in? %>
      </div>
    </body>
  </div>
</html>
